# URL Oficial da Aplicação
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Nome da Aplicação
NEXT_PUBLIC_APP_NAME="Acelera Auto CRM"

# URL do Projeto SUPABASE
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co

# Chave Pública (Publishable Key / Anon Key)
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_your_publishable_key_here

# Chave Privada Administrativa (Secret Key / Service Role Key)
SUPABASE_SERVICE_ROLE_KEY=sb_secret_your_service_role_key_here
